* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 20px;
}

nav a.active {
  border-bottom: 2px solid #000;
  font-weight: 800;
  padding-bottom: 25px;
}

.navbar {
}
header .logo {
  font-size: 1.5rem;
  font-weight: 900;
}

.bodyx {
  display: flex;
  background-color: rgba(211, 215, 222, 0.7);
  height: 400px;
  justify-content: center;
  align-items: center;
}

/* 


.content {
  margin-top: 200px;
}

::placeholder {
  color: grey;
}

.input{
  size:;
} */

.bodyx .content .select {
  display: flex;
  margin-top: 0px;
  height: 50px;
  border-radius: 10px;
  margin-left: 5px;
}

.btn {
  width: 250px;
  border-radius: 7px;
  background-color: rgb(191, 179, 179);
  color: #fff;
}

#category {
  width: 250px;
  border-radius: 10px;
  color: grey;
}

#location {
  width: 250px;
  border-radius: 10px;
  height: 400px;
}

.content {
  margin-top: 100px;
}

.title {
  text-align: center;
  padding-bottom: 20px;
}
.title span {
  font-size: 1.9rem;
  font-weight: 900;
}

.others {
  
  text-align: left;

}

h3 {
  padding-right: 300px;
}

 .pic_gallery1{
display:

}